title {
    color: navy;
    background-color: white;
    text-align: center;
    margin: 50px;
    width: 40%;
}

h1 {
    color: navy;
    background-color:white;
    text-align: center;
}

a {
    color: white;
    background-color:black;
    font-weight: 700;
    text-decoration: none;
    padding: 8px;
    border: 1px;
    border-radius: 8px;
    display: block;
    width: 25%;
    margin: auto;
}

.division {
    background-color:grey;
    padding: 12px;
    margin: 24px auto;
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

img {
    width: 50%;
}



.d-flex {
    display: flex;
}

body {
    background-color: grey;
}